body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: white;
}

.giftbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttoncontainer1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.buttoncontainer2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.giftbox::before {
    content: '';
    position: absolute;
    background-color: #f0f8ff;
    width: 180px;
    height: 20px;
    border-radius: 50%;
    top: 90px;
    left: -90px;
}

.gift {
    position: absolute;
    width: 150px;
    height: 100px;
    left: -75px;
    background-color: hsl(206, 100%, 37%);
}

.gift::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 100px;
    left: 62px;
    background-color: #7eddfd;
}

.gift::after {
    content: '';
    position: absolute;
    width: 150px;
    height: 100px;
    box-shadow: inset 0 10px rgba(0,0,0,0.3);
}

#tap {
    display: none;
}

.tap {
    position: absolute;
    background-color: hsl(206, 100%, 37%);
    width: 170px;
    height: 40px;
    top: -40px;
    left: -10px;
    transform-origin: bottom left;
    transform: 0.5s;
    cursor: pointer;
}

.tap::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 40px;
    background-color: #7eddfd;
    left: 72px;
}

.tap::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 0;
    border-bottom: 30px solid #97e5ff;
    border-top: 30px solid #97e5ff;
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;
    transform: rotate(-90deg);
    left: 68px;
    top: -47px;
}

#tap:checked+.tap {
    transform: rotate(-120deg) scale(0.85);
}

.text1 {
    position: absolute;
    transition: 0.5s;
    font-size: 20px;
    left: 15px;
    z-index: -1;
    color: rgb(88, 67, 67);
    text-shadow: 0 0 15px #7eddfd;

}

#tap:checked~.text1 {
    transform: translateY(-45px);
}

:root {
    --gradient-color-bg:linear-gradient(115.7deg, rgb(132, 222, 255) 7.6%, rgb(27, 123, 225) 99.8%);
}

.button1 {
    display: none;
    position: absolute;
    background-color: transparent;
    border-width: 1px;
    border-color: hsl(206, 100%, 37%);
    border-radius: 50px;
    cursor: pointer;
    padding: 7px 7px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: hsl(206, 99%, 29%);
    font-size: 10px;
    top: 115px;
}

.button1:hover {
    background: var(--gradient-color-bg);
}

.button2 {
    display: none;
    position: absolute;
    background-color: transparent;
    border-width: 1px;
    border-color: hsl(206, 100%, 37%);
    border-radius: 50px;
    cursor: pointer;
    padding: 7px 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: hsl(206, 99%, 29%);
    font-size: 10px;
    top: 270px;
}

.button2:hover {
    background: var(--gradient-color-bg);
}

.hidden1 {
    display: none;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    gap: 0;
}

.row {
    display: grid;
    justify-items: center;
    gap: 0;
}

.row1 {
    grid-template-columns: 1fr 3fr;
    margin-top: 50px;
    margin-right: 140px;
    margin-left: 120px;
    gap: 0;
}

.row2 {
    grid-template-columns: 3fr 1fr;
    margin-right: 140px;
    margin-left: 120px;
    gap: 0;
}

.grid-3x2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 300px;
    gap: 0;
}

.img-1 {
    width: 100%;
    height: 300px;
}

.img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 2px;
}

.img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    border-radius: 2px;
}

.left {
    display: flex;
    position: absolute;
    width: 120px;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.happybirthday {
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    color: rgb(22, 46, 72);
}

.right {
    display: flex;
    position: absolute;
    width: 120px;
    height: 100vh;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: center;
}

.hidden2 {
    display: none;
}

.banderitas {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 0;
    width: 100%;
    height: 75px;
    overflow: hidden;
    padding: 10px 0;
}

.rope {
    position: absolute;
    top: 20;
    width: 100%;
    height: 1px;
    background-color: rgb(204, 200, 200);
}

.triangle {
    width: 0;
    height: 0;
    margin: 0 5px;
    border-top: 60px solid;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    animation: sway 1.5s ease-in-out infinite;
    z-index: 2;
}

@keyframes sway {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(10deg);
    }
}

.triangle:nth-child(odd) {
    border-top-color: #3876bf;
}

.triangle:nth-child(even) {
    border-top-color: #226ec5;
}

.triangle:nth-child(3n+1) {
    border-top-color: #0d4789;
}

.triangle:nth-child(4n+3) {
    border-top-color: #3584df;
}

.text2 {
    position: absolute;
    width: 100vw;
    top: 18%;
}

.happybirthday2 {
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    color: rgb(22, 46, 72);
}

.cake {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 40%;
    left: 50%;
    margin-top: -60px;
    margin-left: -200px;
}

.plate {
    position: absolute;
    width: 350px;
    height: 110px;
    left: 25px;
    bottom: 10px;
    background-color: #ccc;
    border-radius: 50%;
    box-shadow: 0 2px 0;
}

.cake > * {
    position: absolute;
}

.layer1 {
    position: absolute;
    display: block;
    width: 200px;
    height: 80px;
    left: 100px;
    bottom: 260px;
    border-radius: 50%;
    z-index: 2;
    background-color: rgb(111, 10, 10);
    box-shadow: 
    0 10px 0 rgb(77, 0, 0),
    0 20px 0 rgb(77, 0, 0),
    0 30px 0 rgb(77, 0, 0),
    0 40px 0 rgb(77, 0, 0),
    0 50px 0 rgb(77, 0, 0);
}

.layer2 {
    position: absolute;
    display: block;
    width: 250px;
    height: 110px;
    left: 75px;
    bottom: 170px;
    border-radius: 50%;
    z-index: 1;
    background-color: rgb(111, 10, 10);
    box-shadow:
    0 10px 0 rgb(77, 0, 0),
    0 20px 0 rgb(77, 0, 0),
    0 30px 0 rgb(77, 0, 0),
    0 40px 0 rgb(77, 0, 0),
    0 50px 0 rgb(77, 0, 0);
}

.layer3 {
    position: absolute;
    display: block;
    width: 300px;
    height: 120px;
    left: 50px;
    bottom: 80px;
    border-radius: 50%;
    background-color: rgb(111, 10, 10);
    box-shadow: 
    0 10px 0 rgb(77, 0, 0),
    0 20px 0 rgb(77, 0, 0),
    0 30px 0 rgb(77, 0, 0),
    0 40px 0 rgb(77, 0, 0),
    0 50px 0 rgb(77, 0, 0);
}

.icing1 {
    top: 59px;
    left: 100px;
    background-color: rgb(255, 253, 208);
    width: 200px;
    height: 81px;
    border-radius: 50%;
    z-index: 3;
}

.icing2 {
    top: 119px;
    left: 75px;
    background-color: rgb(255, 253, 208);
    width: 250px;
    height: 110px;
    border-radius: 50%;
    z-index: 1;
}

.icing3 {
    top: 199px;
    left: 50px;
    background-color: rgb(255, 253, 208);
    width: 300px;
    height: 120px;
    border-radius: 50%;
    z-index: 0;
}

.drip1 {
    display: block;
    width: 40px;
    height: 60px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(255, 253, 208);
    top: 100px;
    left: 110px;
    z-index: 3;
}

.drip2 {
    display: block;
    width: 40px;
    height: 60px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(255, 253, 208);
    top: 90px;
    left: 200px;
    z-index: 3;
}

.drip3 {
    display: block;
    width: 40px;
    height: 60px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(255, 253, 208);
    top: 200px;
    left: 260px;
    z-index: 3;
}

.drip4 {
    display: block;
    width: 40px;
    height: 60px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(255, 253, 208);
    top: 300px;
    left: 150px;
    z-index: 3;
}

.drip5 {
    display: block;
    width: 40px;
    height: 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(255, 253, 208);
    top: 270px;
    left: 75px;
    z-index: 3;
}

.candle {
    background-color: #aa0e19;
    width: 16px;
    height: 50px;
    border-radius: 8px / 4px;
    top: 40px;
    left: 195px;
    z-index: 3;
}

.candle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 8px;
    border-radius: 50%;
    background-color: #db414b;
}

.flame {
    position: absolute;
    background-color: orange;
    width: 15px;
    height: 35px;
    border-radius: 10px 10px 10px 10px / 25px 25px 10px 10px;
    top: -32px;
    left: 0;
    transform-origin: 50% 90%;
    animation: flicker 1s ease-in-out alternate infinite;
}

@keyframes flicker {
    0%  {
        transform: skewX(5deg);
    }
    25% {
        transform: skewX(-5deg);
    }
    50% {
        transform: skewX(10deg);
    }
    75% {
        transform: skewX(-10deg);
    }
    100% {
        transform: skewX(5deg);
    }
}

@media (min-width: 2560px) and (min-height: 1600px) {
    body {
        font-size: 18px;
    }

    .giftbox {
        width: 50%;
        height: auto;
    }

    .gift {
        width: 40%;
        height: auto;
    }

    .tap {
        width: 60%;
        height: auto;
        top: -60px;
        left: -30px;
    }
    
    .text {
        font-size: 16px;
    }

    .text2 {
        bottom: 250px;
    }

    .container {
        padding: 20px;
    }

    .banderitas {
        height: 100px;
    }

    .triangle {
        border-top-width: 120px;
    }

    .row1,
    .row2 {
        margin-top: 120px;
    }
}